.cards {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 230px;
		align-items: start;
		gap: 10px;
	}
}

.col-xs-1-10,
.col-sm-1-10 {
	position: relative;
	min-height: 1px;
	flex: unset;
	padding: 5px;
}

.col-xs-1-10 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-1-10 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-1-10 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1-10 {
		width: 20%;
		float: left;
	}
}